.thead {
  padding: 0.25em 0.4em;
  font-size: 75%;
  font-weight: bold;
  line-height: 1;
  white-space: nowrap;
  vertical-align: baseline;
  cursor: pointer;
}

.thead-default {
  background-color: #b0bec5;
}

.thead-success {
  background-color: #4dbd74;
}

.f-inputtext {
  font-size: 14px;
  font-weight: normal;
  color: #333333;
  background: #ffffff;
  margin: 0;
  padding: 0.429em;
  outline: medium none;
  border: 1px solid #a6a6a6;
  border-radius: 3px;
  transition: border-color 0.2s, box-shadow 0.2s, -webkit-box-shadow 0.2s;
  appearance: none;
}

.f-inputtext:enabled:hover {
  border-color: #212121;
}

.f-inputtext:enabled:focus {
  outline: 0 none;
  outline-offset: 0;
  -webkit-box-shadow: 0 0 0 0.2em #8dcdff;
  box-shadow: 0 0 0 0.2em #8dcdff;
  border-color: #007ad9;
}

.f-component {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  text-decoration: none;
  box-sizing: border-box;
}

.f-column-filter {
  width: 100%;
}
